:root {
    --cor-do-text: #fff;
    --cor-de-fundo-header: #343a40;
    --cor-de-fundo-hover: #343a4050;
    --padding-padrao-botao: 4px 8px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

header nav {
    width: 100%;
    height: 50px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

header span {
    margin: 0 20px;
}

header ul {
    list-style: None;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

header ul li {
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.ativo {
    color: #738597;
}
