/* Styles from LoginPage */
html{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: rgb(5,12,37);
    background: linear-gradient(180deg, rgba(5,12,37,1) 0%, rgba(5,12,37,1) 43%, rgba(10,25,78,1) 100%);;
}

.form {
    width: fit-content;
    height: fit-content;
    margin-top: 150px;
    padding: 50px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}