{% load static %}

<nav>
    <span class="roboto-bold">Biblioteca</span>
    <ul class="roboto-normal">
        <li>
            {% if not dashboard and not livros and not reservas and not emprestimos and not conta and not notificacoes%}
            <a href="{% url 'usuario:dashboard_aluno' %}" class="ativo">
                Página Inicial
            </a>
            {%else%}
            <a href="{% url 'usuario:dashboard_aluno' %}" class="{%if dashboard%}ativo{%endif%}">
                Página Inicial
            </a>
            {% endif %}
        </li>
        <li>
            <a href="{% url 'livro:listar_livros' %}" class="{%if livros%}ativo{%endif%}">Livros</a>
        </li>
        <li>
            <a href="{% url 'livro:listar_reservas' %}" class="{%if reservas%}ativo{%endif%}">Reservas</a>
        </li>
        <li>
            <a href="#" class="{%if emprestimos%}ativo{%endif%}">Emprestimos</a>
        </li>
        <li>
            <a href="#" class="{%if notificacoes%}ativo{%endif%}">Notificações</a>
        </li>
        <li>
            <a href="#" class="{%if conta%}ativo{%endif%}">Conta</a>
        </li>
    </ul>
</nav>