{%extends 'admin/dashboard-admin.html'%}
{% load static%}
{% block content %}
{% if aluno %}
<div class="container">
    <!-- Detalhes do Aluno -->
    <div class="dados">
        <div class="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <div class="label">
                <span>Nome:</span>
                {{ aluno.usuario.first_name}} {{ aluno.usuario.last_name}}
            </div>
            <div class="label">
                <span>CPF:</span>
                {{ aluno.cpf}}
            </div>
            <div class="label">
                <span>Endereço:</span>
                {{ aluno.endereco}}
            </div>
            <div class="label">
                <span>Email:</span>
                {{ aluno.usuario.email}}
            </div>
        </div>
        <div class="dados-curso">
            <h4>Curso</h4>
            <div class="label">
                <span>Matricula:</span>
                {{ aluno.matricula}}
            </div>
            <div class="label">
                <span>Curso:</span>
                {{ aluno.curso}}
            </div>
            <div class="label">
                <span>Ingresso:</span>
                {{ aluno.ingresso}}
            </div>
            <div class="label">
                <span>Conclusão:</span>
                {{ aluno.conclusao_prevista}}
            </div>
        </div>
    </div>
    <div class="botoes-de-usuario">
        <a class="botao botao-info" href="{% url 'usuario:atualizar-aluno' aluno.id %}">
            Atualizar Informações
            <img class="icone" src="{% static 'usuario/img/update_E3E3E3.png' %}">
        </a>
        <!-- TODO: Corrigir bug. A classe botao não reconhece a classe botao-deletar-->
        <a class="botao botao-deletar" href="{% url 'usuario:deletar-aluno' aluno.id %}">
            Deletar Aluno
            <img src="{% static 'usuario/img/delete_E3E3E3.png' %}">
        </a>
    </div>
</div>
{% elif professor %}
<!-- Bloco de detalhes para professor -->
<div class="container">
    <div class="dados">
        <div class="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <div class="label">
                <span>Nome:</span>
                {{ professor.usuario.first_name }} {{ professor.usuario.last_name }}
            </div>
            <div class="label">
                <span>Email:</span>
                {{ professor.usuario.email }}
            </div>
            <div class="label">
                <span>CPF:</span>
                {{ professor.cpf }}
            </div>
        </div>
        <div class="dados-curso">
            <h4>Dados do Curso</h4>
            <div class="label">
                <span>Curso:</span>
                {{ professor.curso }}
            </div>
            <div class="label">
                <span>Matricula:</span>
                {{ professor.matricula }}
            </div>
            <div class="label">
                <span>Regime:</span>
                {{ professor.regime }}
            </div>
            <div class="label">
                <span>Data de Contratação:</span>
                {{ professor.contratacao }}
            </div>
        </div>
    </div>
    <div class="botoes-de-usuario">
        <a class="botao botao-info" href="{% url 'usuario:atualizar-professor' professor.id %}">
            Atualizar Informações
            <img class="icone" src="{% static 'usuario/img/update_E3E3E3.png' %}">
        </a>
        <!-- TODO: Corrigir bug. A classe botao não reconhece a classe botao-deletar-->
        <a class="botao botao-deletar" href="{% url 'usuario:deletar-professor' professor.id %}">
            Deletar Professor
            <img src="{% static 'usuario/img/delete_E3E3E3.png' %}">
        </a>
    </div>
</div>

{% elif funcionario %}
<!-- Bloco de detalhes para funcionario -->

<div class="conteudo-usuario">
    <div class="dados">
        <div class="dados-pessoais">
            <h4>Dados Pessoais</h4>
            <div class="label">
                <span>Nome:</span>
                {{funcionario.usuario.first_name}} {{funcionario.usuario.last_name}}
            </div>
            <div class="label">
                <span>Matricula:</span>
                {{funcionario.matricula}}
            </div>
        </div>
    </div>
</div>
<div class="botoes-de-usuario">
    <a class="botao botao-info" href="{% url 'usuario:atualizar-funcionario' funcionario.id %}">
        Atualizar Informações
        <img class="icone" src="{% static 'usuario/img/update_E3E3E3.png' %}">
    </a>
    <!-- TODO: Corrigir bug. A classe botao não reconhece a classe botao-deletar-->
    <a class="botao botao-deletar" href="{% url 'usuario:deletar-funcionario' funcionario.id %}">
        Deletar Funcionario
        <img src="{% static 'usuario/img/delete_E3E3E3.png' %}">
    </a>
</div>
{% endif %}
{% endblock content %}