{% extends 'admin/dashboard-admin.html' %}
{% load static %}
{% block content %}
<!-- Formulário de Usuários - Professor -->
<h3>Editar informações de {{professor.usuario.first_name}} {{professor.usuario.last_name}}</h3>
<form action="" id="formulario-aluno">
    {% csrf_token %}
    {% for field in form %}
    <div class="separador">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <div></div>
    <div></div>
    <div class="botao-submit">
        <button style="display: block;" class="botao botao-info" type="submit">Salvar</button>
    </div>
</form>
{% endblock content %}