{% load static %}
<aside>
    <ul class="menu">
        <a href="{% url 'usuario:dashboard-admin'%}">
            <!-- Acessa o menu principal da dashboard de administrador -->
            <li class="{%if not usuarios and not livros and not cursos%} ativo {% endif %}">
                <img class="icone" src="{%static 'usuario/img/home0F0526.png'%}">
            </li>
        </a>
        <a href="{% url 'usuario:dashboard-admin-usuarios'%}">
            <!-- Acessa a primeira página que mostra os Alunos, Professores e os Funcionarios 
                cadastrados na Aplicação -->
            <li class="{%if usuarios %} ativo {% endif %}">
                <img class="icone" src="{%static 'usuario/img/group0F0526.png'%}">
            </li>
        </a>
        <a href="{% url 'usuario:dashboard-admin-livros'%}">
            <!-- Acessa a segunda página que mostra os Livros, autores e categorias além de reservas
            e emprestimos e seus respectivos usuários-->
            <li class="{%if livros %} ativo {% endif %}">
                <img class="icone" src="{%static 'usuario/img/importcontacts0F0526.png'%}">
            </li>
        </a>
        <a href="{% url 'usuario:dashboard-admin-cursos'%}">
            <!-- Mostra a terceira parte da aplicação que mostra os cursos cadastrados na plataforma -->
            <li class="{%if cursos %} ativo {% endif %}">
                <img class="icone" src="{%static 'usuario/img/stacks0F0526.png'%}">
            </li>
        </a>
    </ul>
    <ul>
        <li>
            <img class="icone" src="{%static 'usuario/img/logout0F0526.png'%}">
        </li>
    </ul>
</aside>