/* Estilos do Documento */
*{
    margin: 0;
    padding: 0;
    font-family: "Carme", serif;
    font-style: normal;
}

:root {
    --cor-primaria: #0f0526;
    --cor-secundaria: #6D27E7;
    --cor-texto-primaria: var(--cor-primaria);
    --cor-texto-secundaria: #e3e3e3;
    --background-cinza: rgba(139, 139, 139, 0.2);
    --font-family-default: "Carme", serif;
}

/* Classes gerais do projeto */


html { overflow-x: hidden;}

/* Estilos da navbar */
header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header nav {
    width: 100vw;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-secundaria);
    padding: 10px 30px;
}

header nav .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone {
    width: 25px;
}

header nav .logo img {
    margin-right: 5px;
}

header nav .conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: var(--cor-texto-secundaria) 1px solid;
}

header nav .conteudo .opcoes .calendario {
    margin-left: 10px;
}

header nav .conteudo .opcoes .notificacoes img{
    margin-left: 20px;
}

header nav .conteudo .usuario {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

header nav .conteudo .usuario img {
    width: 30px;
}

header nav .conteudo .usuario .informacoes-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

header nav .conteudo .usuario .informacoes-usuario span:nth-child(1) {
    font-weight: bolder;
}

/* Estilos do aside */
aside {
    height: 90vh;
    position: fixed;
    padding: 20px 10px;
    align-content: start;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.aside-icone {
    filter: invert(75%);
}

.icone, .aside-icone {
    user-select: none;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

aside ul {
    list-style: none;
}

aside ul:nth-child(1){
    margin-top: 20px;
}

aside ul:nth-child(2){
    margin-bottom: 20px;
}

aside ul li {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ativo {
    /* Icone ativo em aside */
    background-color: rgba(15, 5, 38, 0.20);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Estilos do corpo do documento */
.container {
    margin-left: 80px;
    padding-bottom: 50px;
    height: 90vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor-primaria);
}

.titulo {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    /* TODO: Corrigir bug do padding esquerdo do titulo */
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.titulo span{
    filter: opacity(75%);
}


.tabs {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.tabs ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.tabs ul li {
    margin-right: 30px;
    padding-bottom: 10px;
}

.tabs ul li span {
    background-color: var(--background-cinza);
    font-size: 12px;
    border-radius: 5px;
    padding: 0px 2px;
}

.tab-ativa {
    /* Tab ativa em conteudo */
    color: var(--cor-secundaria);
    border-bottom: var(--cor-secundaria) 2px solid;
    transition: all 100ms ease-in-out;
}

.tab-button {
    cursor: pointer;
}

/* Estilos de Tabela */
.tabela, .step-links {
    width: 90%;
    border-radius: 5px;
}

.tabela, th, td{
    font-size: 13px;
    border-collapse: collapse; /*define a separação entre as bordas */
    padding: 10px;
    text-align: left;
    margin-bottom: 20px;
}

th {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundaria);
}

.conteudo-tabela {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

tbody tr {
    border-bottom: var(--cor-texto-secundaria) 1px solid;
    transition: background-color 200ms ease-in;
}

tbody tr:hover {
    background-color: var(--cor-texto-secundaria);
}

/* Outras classes e estilos do documento */
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.botoes a, .step-links a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor-texto-secundaria);
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: var(--cor-primaria) 1px solid;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.step-links a {
    margin-right: 5px;
}

.botoes a:hover, .step-links a:hover {
    background-color: #6317e7;
}

.step-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pesquisar {
    font-size: 15px;
    font-family: var(--font-family-default);
    margin-right: 10px;
    padding: 5px 0px 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(109, 39, 231, 0.1);
    color: var(--cor-secundaria);
    transition: all 200ms ease-in-out;
}

.pesquisar::placeholder {
    color: var(--cor-secundaria);
}

.pesquisar:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    background-color: hsla(262, 80%, 53%, 0.3);
}

.icone-pesquisa {
    margin-right: 10px;
    transition: all 200ms ease-in-out;
    border-radius: 50%;
    padding: 5px;
}

.icone-pesquisa:hover {
    background-color: rgba(99, 23, 231, 0.3);
}

.form {
    width: fit-content;
    height: fit-content;
    margin-top: 150px;
    padding: 50px 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h3 {
    color: #0d6efd;
}

.form form input[type="submit"] {
    width: 100%; 
    font-weight: bold;
}

.botao {
    text-decoration: none;
    padding: 4px 4px;
    border-radius: 4px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-in-out;
}

.botao:hover {
    filter: brightness(1.2);
}

.botao img {
    width: 20px;
}

.botao-info {
    color: var(--cor-texto-secundaria);
    background-color: var(--cor-secundaria);
    border: var(--cor-primaria) 1px solid;
}

.botao-deletar {
    color: var(--cor-texto-secundaria);
    background-color: #ff2e2e;
    border: var(--cor-primaria) 1px solid;
}