.display-flex {
    display: flex;
}
.linha {
    flex-direction: row;
}
.coluna {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-space-arround {
    justify-content: space-around;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}