{% extends 'admin/dashboard-admin.html' %}
{% load static %}
{% block content %}
<!-- Formulário de emprestimo - Criar emprestimo -->
<h3>Criar Emprestimo</h3>
<form action="{% url 'administrador:criar_emprestimo' %}" method="POST" id="formulario-emprestimo">
    {% csrf_token %}
    {% for field in form %}
    <div class="separador">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div class="botao-submit">
        <button style="display: block;" class="botao botao-info" type="submit">Salvar</button>
    </div>
</form>
{% endblock content %}