{% extends 'admin/dashboard-admin.html' %}
{% load static %}
{% block content %}
<!-- Formulário de Livros - Atualizar Livros -->
<h3>Atualizar Livro</h3>
<form action="{% url 'administrador:atualizar_categoria' categoria.id %}" method="POST" id="formulario-categoria">
    {% csrf_token %}
    {% for field in form %}
    <div class="separador">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div></div>
    <div></div>
    <div class="botao-submit">
        <button style="display: block;" class="botao botao-info" type="submit">Salvar</button>
    </div>
</form>
{% endblock content %}