{% extends 'admin/dashboard-admin.html' %}
{% load static %}
{% block content %}
<!-- Formulário de Usuários - Aluno -->
<h3>Editar informações de {{aluno.usuario.first_name}} {{aluno.usuario.last_name}}</h3>
<form action="{% url 'administrador:atualizar_livro' livro.id %}" method="POST" id="formulario-livro">
    {% csrf_token %}
    {% for field in form %}
    <div class="separador">
        {{ field.label_tag }} {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <div></div>
    <div></div>
    <div class="botao-submit">
        <button style="display: block;" class="botao botao-info" type="submit">Salvar</button>
    </div>
</form>
{% endblock content %}