{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carme&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Pagina de Usuario - Aluno</title>
    <link rel="stylesheet" href="{% static 'livro/css/styles-livro.css' %}">
</head>

<body>
    <header>
        {% include 'usuario/aluno/parciais/_nav.html' %}
    </header>

    <main>
        <div id="tabela-livros">
            <div id="formulario-pesquisa">
                <!-- TODO: Pesquisa por Autor, Titulo e Subtitulo já implementada. O que falta agora é resolver o bug com a paginacao -->
                <form action="{% url 'livro:listar_livros' %}" class="roboto-normal">
                    <input type="text" placeholder="Titulo, Subtitulo, Autor" name="pesquisa" value="{{ termo_busca }}">
                    <input type="submit" value="Pesquisar">
                </form>
            </div>
            <table class="roboto-normal">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Titulo</th>
                        <th>Autor(es)</th>
                        <th>Qt Cópias</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                    <tr>
                        <td>{{livro.isbn}}</td>
                        <td>
                            <a href="{% url 'livro:detalhar_livro' livro.id %}">{{livro.titulo}}</a>
                        </td>
                        <td>
                            {% for autor in livro.autores.all %}
                            {{autor.nome}} {{autor.sobrenome}}.
                            {% endfor %}
                        </td>
                        <td>{{livro.copias}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination roboto-normal">
                <span class="step-links">
                    {% if livros.has_previous %}
                    <a href="?pesquisa={{ termo_busca }}&page=1">&laquo; Primeira</a>
                    <a href="?pesquisa={{ termo_busca }}&page={{ livros.previous_page_number }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                        Page {{ livros.number }} of {{ livros.paginator.num_pages }}.
                    </span>

                    {% if livros.has_next %}
                    <a href="?pesquisa={{ termo_busca }}&page={{ livros.next_page_number }}">Proxima</a>
                    <a href="?pesquisa={{ termo_busca }}&page={{ livros.paginator.num_pages }}">Ultima &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </main>
    <script src="./script.js"></script>
</body>

</html>