:root {
    --cor-do-text: #fff;
    --cor-de-fundo-header: #343a40;
    --cor-de-fundo-hover: #343a4050;
    --padding-padrao-botao: 4px 8px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

header nav {
    width: 100%;
    height: 50px;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

header span {
    margin: 0 20px;
}

header ul {
    list-style: None;
    display: flex;
    flex-direction: row;
    font-size: 14px;
}

header ul li {
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #tabela-livros #formulario-pesquisa {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row-reverse;
}

main #formulario-pesquisa form {
    width: fit-content;
}

main #formulario-pesquisa form input {
    padding: var(--padding-padrao-botao);
}

main #tabela-livros {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #tabela-livros table {
    width: 100%;
    font-size: 14px;
}

main #tabela-livros table thead tr th {
    background-color: var(--cor-de-fundo-header);
    color: var(--cor-do-text);
}

main #tabela-livros table thead tr th:nth-child(1) {
    border-top-left-radius: 5px;
}

main #tabela-livros table thead tr th:nth-last-child(1) {
    border-top-right-radius: 5px;
}

main #tabela-livros table tbody tr:hover {
    background-color: var(--cor-de-fundo-hover);
    transition: background-color 200ms ease-in-out;
}

main #tabela-livros table tbody tr td {
    text-align: start;
}

main #tabela-livros table thead tr th,
main #tabela-livros table tbody tr td {
    padding: 5px 20px;
}

.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.ativo {
    color: #738597;
}

.pagination {
    margin: 20px 0px;
}

.pagination a {
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid var(--cor-de-fundo-header);
    padding: var(--padding-padrao-botao);
}
